@font-face {
  font-family: folkard;
  src: url(resources/folkard.ttf);
}

@font-face {
  font-family: lifeCraft;
  src: url(resources/LifeCraft.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(resources/ironforge__world_of_warcraft__by_cutesexyrobutts_dczxjva-fullview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: folkard;
}

.container {
  display: flex;
  flex-direction: column;
}

/* HEADER */

.header-contain {
  width: 100%;
  background-color: #4a4b64;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  width: 70%;
  color: #fadcda;
}

.header h1 {
  margin: auto;
  font-family: lifeCraft;
  font-size: 38px;
  font-weight: 200;
}

.middle-contain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ABOUT */

.about {
  color: #fadcda;
  text-decoration: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  padding: 75px;
  gap: 25px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.about h1 {
  font-size: 28px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.about p {
  font-size: 18px;
}

/* MEMBER PANEL */

.members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  width: 70%;
}

.member-profile-top {
  color: #fadcda;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
  1px 1px 0 #000;

}

.member-profile-top img {
  border: 2px solid #fadcda;
  transition: box-shadow 0.5s;
  box-shadow: 0 0 10px 2px #fadcda;
  height: 100px;
  width: 100px;


}

.member-profile-top img:hover {
  border: 2px solid #4a4b64;
  transition: box-shadow 1.0s;
  box-shadow: 0 0 20px 5px #fadcda;
  width: 125px;
  height: 125px;
}


.member-profile-top p {
}

.member-profile-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
  1px 1px 0 #000;
}

.member-profile {
  color:#fadcda;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.member-profile p {
}

.member-profile img {
  border: 2px solid #fadcda;
  transition: box-shadow 0.5s;
  box-shadow: 0 0 10px 2px #fadcda;
  height: 100px;
  width: 100px;
}


.member-profile img:hover {
  border: 2px solid #fadcda;
  transition: box-shadow 1.0s;
  box-shadow: 0 0 20px 5px #fadcda;
  width: 125px;
  height: 125px;
}

.harold {
  background-image: url(resources/Undead_male.gif);
  width: 50px;
  height: 50px;
}

/* #FADCDA - whiteish 
#4A4B64 - darkish greyish 
*/
